@import url('../index.css');




form {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.inputs {
    display: flex;
    gap: 1rem;
    max-width: 25rem;
}

label {
    font-size: 1.2rem;
    color: var(--smokey-grey);
    letter-spacing: 3px;
}

input {
    cursor: pointer;
    margin-block: .25rem;
    width: 100%;
    padding: .25em .5em;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    font-size: 23px;
    font-weight: bold;
    caret-color: var(--purple);
}

input:focus {
    outline: none !important;
    border-color: var(--purple);
}

.error {
    color: var(--light-red);
    font-size: 13px;
}

.button-container {
    display: flex;
    align-items: center;

    margin-bottom: 1rem;
}

.line {
    height: 1px;
    flex: 1;
    background-color: var(--light-grey);
}

.button {
    cursor: pointer;
    height: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 0;
    background-color: var(--purple);

}

.button:is(:hover, :focus) {
    background-color: var(--off-black);
}


@media screen and (max-width: 500px) {
    input {
        font-size: 1.5rem;
    }

    label {
        font-size: .75rem;
    }

    .button-container {
        position: relative;
        height: 75px;
    }

    .button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .error{
        font-size: 10px;
    }
}