@import url('../index.css');


.result p {
    font-size: 3rem;
    font-style: italic;
    font-weight: 800;
}

.result p span{
    color: var(--purple);
}

@media  screen and (max-width: 500px) {
    .result p{
        font-size: 2rem;
    }
}